extends layout

block title
    | #{t("error.title")}

append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/error.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/error.css')
    - }

block main
    div.jumbotron.center
        div.container
            h2
                | #{t("error.errorDescription")}
            h1
                if errMessage === 'SERVER_ERROR'
                    | #{t("error.serverError")}
                else if errMessage === 'USER_NOT_EXIST'
                    | #{t("error.userNotExist")}
                else if errMessage === 'SNIPPET_NOT_EXIST'
                    | #{t("error.snippetNotExist")}
                else if errMessage === 'SNIPPET_TYPE_NOT_EXIST'
                    | #{t("error.snippetTypeNotExist")}
                else if errMessage === 'PERMISSION_NOT_ALLOWED'
                    | #{t("error.permissionNotAllowed")}
            p
                | #{t("error.backDescription")}
            p
                | #{t("error.anotherBackDescription")}
            a.btn.btn-large.btn-primary.a-margin(href="/")
                i.icon-home.icon-white
                    | #{t("error.backBtn")}