extends layout

block title
    | #{t("index.title")}

append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/index.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/index.css')
    - }

block main
    div.container.nav-margin
        div.row
            div.col-sm-6.col-lg-6
                pre
                    //- code(style="overflow-x:scroll;white-space:pre")
                    code
                        | // README<br>if (hasAccount) {<br>&nbsp;&nbsp;&nbsp;&nbsp;login(email, password, function(error) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;... // redirect<br>&nbsp;&nbsp;&nbsp;&nbsp;});<br>} else {<br>&nbsp;&nbsp;&nbsp;&nbsp;res.redirect('/users/sign_up');<br>}
            div.col-sm-6.col-lg-6
                pre
                    code
                        | function login(email, password, callback) {<br>&nbsp;&nbsp;&nbsp;&nbsp;... // check<br>&nbsp;&nbsp;&nbsp;&nbsp;if (error) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback(error);<br>&nbsp;&nbsp;&nbsp;&nbsp;} else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback(null);<br>&nbsp;&nbsp;&nbsp;&nbsp;}<br>}

    div.container.search-divider
        div.page-header
            h3
                | #{t("index.searchTitle")}
                a.btn.btn-info.pull-right(href="/snippets/new")
                        i.fa.fa-plus
                            | #{t("index.createNew")}
        form#form-search.form-horizontal.col-sm-offset-1.col-sm-10.col-lg-offset-2.col-lg-7(role='form',action='/snippets/search',method='POST')
            div.input-group
                input#input-csrf(type='hidden',name='_csrf',value='#{token}')
                input#input-search.form-control(type="text",name="snippet_title",placeholder='#{t("index.searchPlaceholder")}',autocomplete="off")
                span.input-group-btn
                    button#btn-index-search.btn.btn-success
                        i.fa.fa-search

    div.container
        div.row
            div.col-sm-3.col-lg-3
                button.card
                    img(src='/static/images/icon-js.png')
                    div.description
                        h3 javascript
                        p #{t("index.js")}
            div.col-sm-3.col-lg-3
                button.card
                    img(src='/static/images/icon-java.png')
                    div.description
                        h3 java
                        p #{t("index.java")}
            div.col-sm-3.col-lg-3
                button.card
                    img(src='/static/images/icon-c.png')
                    div.description
                        h3 c/c++
                        p #{t("index.c")}
            div.col-sm-3.col-lg-3
                button.card
                    img(src='/static/images/icon-c-sharp.png')
                    div.description
                        h3 c#
                        p #{t("index.cSharp")}

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/index.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/index.js')
    - }
