nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
        div.navbar-header
            a.navbar-brand(href="/") 
                | #{t("navbar-unauthorized.projectName")}
            button.navbar-toggle(type="button",data-toggle="collapse", data-target="#navbar-collapse-1")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
        div#navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    form#form-inline-navbar.form-inline(role='form',action='/snippets/search',method='get')
                        div.input-group
                            span.input-group-addon
                                i.fa.fa-search
                            //- label.sr-only(for='input-search-navbar')
                            input#input-search-navbar.form-control(type="text",name="keyword",placeholder='#{t("layout.searchPlaceholder")}',autocomplete="off")
                li
                    a#link-show-login-modal.link-tooltip(data-toggle="modal",data-target="#modal-login", data-original-title="#{t('navbar-unauthorized.signin')}", data-placement="bottom")
                        i.fa.fa-sign-in
                li
                    a#link-show-sign-up-modal.link-tooltip(data-toggle="modal",data-target="#modal-sign-up", data-original-title="#{t('navbar-unauthorized.signup')}", data-placement="bottom")
                        i.fa.fa-user
                li.dropdown
                    a.dropdown-toggle.link-tooltip(href="javascript:;", data-original-title="#{t('navbar-unauthorized.language')}", data-placement="bottom",data-toggle="dropdown")
                        i.fa.fa-globe
                    ul.dropdown-menu
                        li
                            a#link-english(href="javascript:;") English
                        li
                            a#link-chinese(href="javascript:;") 中文
            //- form.navbar-form.navbar-right(action="/snippets/search",method="GET",role="search")
                //- div.form-group
                //-     div.col-lg-2
                //-         div.input-group
                //-             input.form-control(type="text",placeholder="Search")
                //-             span.input-group-btn
                //-                     button.btn.btn-success(type='button')
                //-                         i.fa.fa-search
                div.form-group
                    div.input-group
                        input.form-control(type="text",placeholder="Search")
                        
            