nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand(href="/",style="border-right:'1px solid #cccccc';") 
                | #{t("navbar-authorized.projectName")}
            button.navbar-toggle(type="button",data-toggle="collapse", data-target="#navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
        div#navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    form#form-inline-navbar.form-inline(role='form',action='/snippets/search',method='get')
                        div.input-group
                            span.input-group-addon
                                i.fa.fa-search
                            //- label.sr-only(for='input-search-navbar')
                            input#input-search-navbar.form-control(type="text",name="keyword",placeholder='#{t("layout.searchPlaceholder")}',autocomplete="off")
                li
                    a.link-tooltip(href="/snippets/new",data-toggle='tooltip', data-original-title='#{t("navbar-authorized.createNew")}', data-placement='bottom')
                        i.fa.fa-plus
                li.dropdown
                    a.dropdown-toggle.link-tooltip(href="javascript:;", data-original-title='#{t("navbar-authorized.language")}', data-placement='bottom',data-toggle="dropdown")
                        i.fa.fa-globe.fa-spin
                    ul.dropdown-menu
                        li
                            a#link-english(href="javascript:;") English
                        li
                            a#link-chinese(href="javascript:;") 中文
                li.dropdown
                    a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
                        i#layout-credential-name.fa.fa-user
                            | &nbsp;#{credential.name}
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="/users/#{credential.id}/profile")
                                i.fa.fa-home
                                | &nbsp;#{t("navbar-authorized.home")}
                            a#btn-change-password(href='/users/#{credential.id}/password')
                                i.fa.fa-lock
                                | &nbsp;&nbsp;#{t("navbar-authorized.password")}
                            a(href="/users/logout")
                                i.fa.fa-sign-out
                                | &nbsp;#{t("navbar-authorized.logout")}
            