extends layout

block title
    | #{t("new-snippet.title")}
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/view-snippet.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/assets/vendor/codemirror/css/codemirror.css')
        link(rel='stylesheet', href='/assets/vendor/codemirror/css/base16-light.css')
        link(rel='stylesheet', href='/assets/vendor/codemirror/addon/display/fullscreen.css')
        //- link(rel='stylesheet', href='/assets/vendor/codemirror/css/paraiso-light.css')
    - }

block main
    div.container.nav-margin
        h3.page-header
            | #{t("new-snippet.title")}
        form#form-new-snippet.form-horizontal.col-sm-10.col-lg-10(action='/snippets/new',method='POST',role='form')
            input#input-csrf(type='hidden',name='_csrf',value='#{token}')
            div.form-group
                label.col-lg-3.control-label(for='input-snippet-title')
                    | #{t("new-snippet.snippetTitle")}
                div.col-lg-9
                    input#input-snippet-title.form-control(type='text',name='title',placeholder='#{t("new-snippet.titlePlaceholder")}',autocomplete='off')
            div.form-group
                label.col-lg-3.control-label(for='select-snippet-type')
                    | #{t("new-snippet.snippetType")}
                div.col-lg-9
                    select#select-snippet-type.form-control(name='type_id')
                        if typeList.length>0
                            for type in typeList
                                option(value="#{type.id}") 
                                    | #{type.typeName}
            div.form-group
                label.col-lg-3.control-label(for='input-snippet-content')
                    | #{t("new-snippet.snippetContent")}
                div.col-lg-9
                    textarea#input-snippet-content.form-control(rows='15',placeholder='#{t("new-snippet.contentPlaceholder")}',name='snippet',style="resize:none")
            div.form-group
                div.col-lg-offset-3.col-lg-4
                    button#btn-submit.btn.btn-success
                        | #{t("new-snippet.submitBtn")}
                    a#link-back.btn.btn-info.btn-right(href='/')
                        | #{t("new-snippet.backBtn")}

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/new-snippet.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/vendor/codemirror/js/codemirror.js')
        script(type='text/javascript', src='/assets/vendor/codemirror/js/clike.js')
        script(type='text/javascript', src='/assets/vendor/codemirror/addon/display/fullscreen.js')
        //- script(type='text/javascript', src='/assets/vendor/codemirror/js/javascript.js')
        script(type='text/javascript', src='/assets/js/new-snippet.js')
    - }