extends layout

block title
    | #{t("password.title")}
append head

block main
    div.container.nav-margin
        div.alert.alert-success
            | #{t("password.successAlert")}
        div.alert.alert-danger
        h3.page-header
            | #{t("password.title")}
        form#form-change-password.form-horizontal.col-lg-offset-2.col-lg-8(action='/password',method='POST')
            input#input-csrf(type='hidden',name='_csrf',value='#{token}')
            div.form-group
                label.col-lg-3.control-label(for='input-email')
                    | #{t("password.email")}
                div.col-lg-7
                    input#input-email.form-control(type='text',name="email",value='#{credential.email}',readonly)
            div.form-group
                label.col-lg-3.control-label(for='input-current-password')
                    | #{t("password.currentPassword")}
                div.col-lg-7
                    input#input-current-password.form-control(type='password',placeholder='#{t("password.newPassword")}',name="current_password")
            div.form-group
                label.col-lg-3.control-label(for='input-new-password')
                    | #{t("password.newPassword")}
                div.col-lg-7
                    input#input-new-password.form-control(type='password',placeholder='#{t("password.newPassword")}',name="new_password")
            div.form-group
                label.col-lg-3.control-label(for='input-confirm-new-password')
                    | #{t("password.confirmPassword")}
                div.col-lg-7
                    input#input-confirm-new-password.form-control(type='password',placeholder='#{t("password.confirmPassword")}',name="confirm_new_password")

            div.form-group
                div.col-lg-offset-3.col-lg-4
                    a#link-submit.btn.btn-success
                        | #{t("password.submitBtn")}
                    a#link-back.btn.btn-info.btn-right(href='/')
                        | #{t("password.backBtn")}
                    
block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/password.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/password.js')
    - }