extends layout

block title
    if !isSelf
        | #{viewUserObj.name}
    else
        | #{t("profile.title")}
    
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/profile.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/profile.css')
    - }
block main
    div.container.nav-margin
        input#input-csrf(type='hidden',name='_csrf',value='#{token}')
        input#view-user-id(type='hidden',value='#{viewUserObj.id}')
        input#js-amount(type='hidden',name='js_amount',value='#{amountObj.jsAmount}')
        input#java-amount(type='hidden',name='java_amount',value='#{amountObj.javaAmount}')
        input#c-amount(type='hidden',name='c_amount',value='#{amountObj.cAmount}')
        input#csharp-amount(type='hidden',name='csharp_amount',value='#{amountObj.csharpAmount}')
        div.page-header
            h3
                if !isSelf
                    | #{viewUserObj.name}
                else
                    | #{t("profile.title")}
        div.col-xs-offset-1.row.col-xs-11.col-md-10
            div.col-xs-12.col-md-2
                div.row
                    div.col-xs-2.col-md-12
                        img.profile(src='/static/images/profile-large.jpg')
                    //- div.col-xs-3.col-md-12
                    //-     div.profile-info.profile-name
                    //-         | #{viewUserObj.name}
            div.col-xs-10.col-md-9.form-horizontal
                ul.nav.nav-tabs
                    li.active
                        a(href='#profile',data-toggle="tab")
                            | #{t("profile.profile")}
                    li
                        a#link-mine-snippets(href='#mine',data-toggle="tab")
                            | #{t("profile.mine")}
                    if isSelf
                        li
                            a#link-favorite-snippets(href='#favoriteSnippets',data-toggle="tab")
                                | #{t("profile.favorite")}
                        li
                            a#link-following-snippets(href='#followingSnippets',data-toggle="tab")
                                | #{t("profile.following's")}
                    li
                        a#link-following(href='#following',data-toggle="tab")
                            | #{t("profile.following")}&nbsp;
                            span.badge
                                | #{amountObj.followAmount}
                    li
                        a#link-follower(href='#follower',data-toggle="tab")
                            | #{t("profile.follower")}&nbsp;
                            span.badge
                                | #{amountObj.followerAmount}
                div.tab-content
                    div#profile.tab-pane.active
                        div.row
                            div.col-xs-offset-2.col-xs-10.col-md-offset-0.col-md-6.form-horizontal(style="padding:5%")
                                div.form-group
                                    label.col-xs-3.col-md-4.control-label
                                        | #{t("profile.name")}
                                    div.col-xs-8.col-md-8
                                        | #{viewUserObj.name}
                                div.form-group
                                    label.col-xs-3.col-md-4.control-label
                                        | #{t("profile.email")}
                                    div.col-xs-8.col-md-8
                                        | #{viewUserObj.email}
                            //- Doughnut
                            //- div.col-xs-offset-2.col-xs-6.col-md-offset-0.col-md-4(height=300)
                            //-     canvas#test-chart(width=200,height=200)
                            //- div.col-xs-2.col-md-1(style="margin-top:10px")
                            //-     p.text-center(style="background-color:#39b3d7")
                            //-         | js
                            //-     p.text-center(style="background-color:#47a447")
                            //-         | java
                            //-     p.text-center(style="background-color:#ed9c28")
                            //-         | c++
                            //-     p.text-center(style="background-color:#d2322d")
                            //-         | c#
                            //- Line
                            //- div.col-xs-offset-2.col-xs-12.col-md-offset-0.col-md-6(height=400)
                            //-     canvas#line-chart(width=300,height=300)
                            //- Radar
                            div.col-xs-offset-2.col-xs-10.col-md-offset-0.col-md-6(height=400)
                                canvas#radar-chart(width=300,height=300)
                    div#mine.tab-pane
                    if isSelf
                        div#followingSnippets.tab-pane
                    if isSelf
                        div#favoriteSnippets.tab-pane
                    div#following.tab-pane

                    div#follower.tab-pane

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/profile.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/vendor/chart/Chart.js')
        script(type='text/javascript', src='/assets/js/profile.js')
    - }