extends layout

block title
    | #{t("profile.title")}
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/profile.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/profile.css')
    - }
block main
    div.container.nav-margin
        input#input-csrf(type='hidden',name='_csrf',value='#{token}')
        div.page-header
            h3
                | #{t("profile.title")}
        div.row.col-xs-12.col-md-offset-1.col-md-10
            div.col-xs-12.col-md-2
                div.row
                    div.col-xs-2.col-md-12
                        img.profile(src='/static/images/profile-large.jpg')
                    div.col-xs-3.col-md-12
                        div.profile-info.profile-name
                            | #{userName}
                        //- div.row
                        //-     div.profile-info.col-md-5
                        //-         a#btn-following.btn.btn-sm
                        //-             div
                        //-                 | 120
                        //-             | following
                        //-     div.profile-info.col-md-5
                        //-         a#btn-follower.btn.btn-sm
                        //-             div
                        //-                 | 120
                        //-             | follower
            div.col-xs-10.col-md-9.form-horizontal
                ul.nav.nav-tabs
                    li.active
                        a(href='#mine',data-toggle="tab")
                            | #{t("profile.mine")}
                    if isSelf
                        li
                            a#link-following-snippets(href='#followingSnippets',data-toggle="tab")
                                | #{t("profile.following's")}
                    li
                        a(href='#following',data-toggle="tab")
                            | #{t("profile.following")}&nbsp;#{followAmount}
                    li
                        a(href='#follower',data-toggle="tab")
                            | #{t("profile.follower")}&nbsp;#{followerAmount}
                div.tab-content
                    div#mine.tab-pane.active
                        if snippetList.length>0
                            for snippet in snippetList
                                div.snippet-item
                                    div
                                        a(href='/snippets/#{snippet.id}')
                                            | #{snippet.title}
                                    div
                                        | #{snippet.createTime}
                                        span.snippet-type
                                            | #{snippet.type}
                                        if isSelf
                                            a.link-delete-snippet.btn.btn-sm.pull-right.link-tooltip(data-snippet-id='#{snippet.id}',data-original-title='#{t("profile.delete")}', data-placement='left')
                                                i.fa.fa-times
                        else
                            | zero
                    if isSelf
                        div#followingSnippets.tab-pane
                            | This is followers' snippets
                    div#following.tab-pane
                        | This is my following
                    div#follower.tab-pane
                        | This is my follower

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/profile.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/profile.js')
    - }