extends layout

block title
    if !isSelf
        | #{userName}&nbsp;|&nbsp;
    | #{t("profile.title")}
    
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/profile.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/profile.css')
    - }
block main
    div.container.nav-margin
        input#input-csrf(type='hidden',name='_csrf',value='#{token}')
        input#view-user-id(type='hidden',value='#{viewUserId}')
        div.page-header
            h3
                if !isSelf
                    | #{userName}
                else
                    | #{t("profile.title")}
        div.col-xs-offset-1.row.col-xs-11.col-md-10
            div.col-xs-12.col-md-2
                div.row
                    div.col-xs-2.col-md-12
                        img.profile(src='/static/images/profile-large.jpg')
                    div.col-xs-3.col-md-12
                        div.profile-info.profile-name
                            | #{userName}
                        //- div.row
                        //-     div.profile-info.col-md-5
                        //-         a#btn-following.btn.btn-sm
                        //-             div
                        //-                 | 120
                        //-             | following
                        //-     div.profile-info.col-md-5
                        //-         a#btn-follower.btn.btn-sm
                        //-             div
                        //-                 | 120
                        //-             | follower
            div.col-xs-10.col-md-9.form-horizontal
                ul.nav.nav-tabs
                    li.active
                        a(href='#profile',data-toggle="tab")
                            | #{t("profile.profile")}
                    li
                        a#link-mine-snippets(href='#mine',data-toggle="tab")
                            | #{t("profile.mine")}
                    if isSelf
                        li
                            a#link-following-snippets(href='#followingSnippets',data-toggle="tab")
                                | #{t("profile.following's")}
                    li
                        a(href='#following',data-toggle="tab")
                            | #{t("profile.following")}&nbsp;#{followAmount}
                    li
                        a(href='#follower',data-toggle="tab")
                            | #{t("profile.follower")}&nbsp;#{followerAmount}
                div.tab-content
                    div#profile.tab-pane.active
                        div.row
                            div.col-xs-12.col-md-6
                            div.col-xs-offset-2.col-xs-6.col-md-offset-0.col-md-4(height=300)
                                canvas#test-chart(width=200,height=200)
                                div.row
                                    input#js-amount(type='hidden',name='js_amount',value='#{amountObj.jsAmount}')
                                    input#java-amount(type='hidden',name='java_amount',value='#{amountObj.javaAmount}')
                                    input#c-amount(type='hidden',name='c_amount',value='#{amountObj.cAmount}')
                                    input#csharp-amount(type='hidden',name='csharp_amount',value='#{amountObj.csharpAmount}')
                            div.col-xs-2.col-md-1(style="margin-top:10px")
                                p.text-center(style="background-color:#39b3d7")
                                    | js
                                p.text-center(style="background-color:#47a447")
                                    | java
                                p.text-center(style="background-color:#ed9c28")
                                    | c++
                                p.text-center(style="background-color:#d2322d")
                                    | c#
                    div#mine.tab-pane
                        //- if snippetList.length>0
                        //-     for snippet in snippetList
                        //-         div.snippet-item
                        //-             div
                        //-                 a(href='/snippets/#{snippet.id}')
                        //-                     | #{snippet.title}
                        //-             div
                        //-                 | #{snippet.createTime}
                        //-                 span.snippet-type
                        //-                     | #{snippet.type}
                        //-                 if isSelf
                        //-                     a.link-delete-snippet.btn.btn-sm.pull-right.link-tooltip(data-snippet-id='#{snippet.id}',data-original-title='#{t("profile.delete")}', data-placement='left')
                        //-                         i.fa.fa-times
                        //- else
                        //-     | zero
                    if isSelf
                        div#followingSnippets.tab-pane
                    div#following.tab-pane
                        | This is my following
                    div#follower.tab-pane
                        | This is my follower

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/profile.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/vendor/chart/Chart.js')
        script(type='text/javascript', src='/assets/js/profile.js')
    - }