extends layout

block title
    | #{t("search-snippet.searchFor")}&nbsp;&apos;#{keyword}&apos;

append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/search-snippet.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/search-snippet.css')
    - }

block main
    div.container.nav-margin
        h3.page-header
            | #{t("search-snippet.title")}
        if snippetList.length>0
            table.table
                tr
                    th.col-md-3
                        | #{t("search-snippet.title")}
                    th.col-md-2 
                        | #{t("search-snippet.type")}
                    th.col-md-2
                        | #{t("search-snippet.creater")}
                    th.col-md-3
                        | #{t("search-snippet.createTime")}
                    th.col-md-1
                for snippet in snippetList
                    tr
                        td.col-md-3
                            | #{snippet.title}
                        td.col-md-2 
                            | #{snippet.type}
                        td.col-md-2
                            | #{snippet.creater}
                        td.col-md-3
                            | #{snippet.createTime}
                        td.col-md-1
                            a#link-view-snippet.link-tooltip(href='/snippets/#{snippet.id}',data-original-title='#{t("search-snippet.viewTitle")}', data-placement='left')
                                i.fa.fa-eye.fa-lg
        else
            h3
                | #{t("search-snippet.noSnippet")}
block scripts
    //- - if (nodeEnv == "production") {
    //-     script(type='text/javascript', src='/static/js/search-snippet.min.js')
    //- - }
    //- - else {
    //-     script(type='text/javascript', src='/assets/js/search-snippet.js')
    //- - }
