if snippetList.length>0
    include ./internal-pager-mixin
    for snippet in snippetList
        div.snippet-item
            div
                a(href='/snippets/#{snippet.id}')
                    | #{snippet.title}
                a.pull-right(href='/users/#{snippet.creatorId}/profile')
                    | #{snippet.creator}
            div
                | #{snippet.createTime}
                span.snippet-type
                    | #{snippet.type}
    mixin internal-pager(pagination.pager)
else
    | zero