if snippetList.length>0
    include ./internal-pager-mixin
    for snippet in snippetList
        div.snippet-item
            div
                a(href='/snippets/#{snippet.id}')
                    | #{snippet.title}
                if !isSelf
                    a.pull-right(href='/users/#{snippet.creatorId}/profile')
                        | #{snippet.creator}
            div
                | #{snippet.createTime}
                span.snippet-type
                    | #{snippet.type}
                if isSelf
                    a.link-delete-snippet.btn.btn-sm.pull-right.link-tooltip(data-snippet-id='#{snippet.id}',data-original-title='#{t("profile.delete")}', data-placement='left')
                        i.fa.fa-times.fa-lg
    mixin internal-pager(pagination.pager)
else
    | zero