extends layout

block title
    | #{t("view-snippet.title")}
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/view-snippet.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/view-snippet.css')
    - }
block main
    div.container.nav-margin
        h3.page-header
            | #{t("view-snippet.title")}
            a#link-back.btn.btn-info.pull-right(href='/')
                | #{t("view-snippet.backBtn")}
        div.row
            div.col-sm-2.col-lg-2(style='margin-left:3%')
                div.row
                    div.col-sm-12.col-lg-6
                        img(src='/static/images/profile.jpg',style='border-radius:15px')
                    div.col-sm-12.col-lg-6
                        div
                            div(style='font-weight:bold;')
                                | #{snippet.owner}
                            div(style='margin-top:3px')
                                a(href="/") 关注
            div.col-sm-9.col-lg-9.form-horizontal
                input#input-csrf(type='hidden',name='_csrf',value='#{token}')
                div.form-group
                    label.col-sm-2.col-lg-1.control-label
                        | #{t("view-snippet.snippetTitle")}
                    div.col-sm-10.col-lg-10
                        | #{snippet.title}
                div.form-group
                    label.col-sm-2.col-lg-1.control-label
                        | #{t("new-snippet.snippetType")}
                    div.col-sm-10.col-lg-10
                        | #{snippet.type}
                div.form-group
                    label.col-sm-2.col-lg-1.control-label
                        | #{t("view-snippet.snippetContent")}
                    div.col-sm-10.col-lg-10
                        pre
                            code
                                | #{snippet.snippet}

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/view-snippet.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/view-snippet.js')
    - }