extends layout

block title
    | #{t("view-snippet.title")}
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/view-snippet.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/view-snippet.css')
    - }
block main
    div.container.nav-margin
        div.page-header
            h3
                | #{t("view-snippet.title")}
                a#link-back.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-original-title='#{t("view-snippet.backBtn")}',data-placement='left')
                    i.fa.fa-mail-reply
        div.row
            div.col-xs-12.col-sm-1.col-md-2
                div.row
                    div.col-xs-3.col-sm-12.col-md-6
                        a(href="/users/#{snippet.ownerId}/profile")
                            img(src='/static/images/profile.jpg',style='border-radius:15px')
                    div.col-xs-3.col-sm-12.col-md-6
                        div
                            div(style='font-weight:bold;')
                                | #{snippet.owner}
                            if followStatus == 1
                                div(style='margin-top:3px')
                                    button#btn-follow.btn.btn-sm(data-followId='#{snippet.ownerId}',data-url='/api/unfollow')
                                        | #{t("view-snippet.unfollow")}
                            else if followStatus == 2
                                div(style='margin-top:3px')
                                    button#btn-follow.btn.btn-sm(data-followId='#{snippet.ownerId}',data-url='/api/follow')
                                        | #{t("view-snippet.follow")}
            form.col-xs-12.col-sm-10.col-md-10.form-horizontal
                input#input-csrf(type='hidden',name='_csrf',value='#{token}')
                input#input-snippet-id(type='hidden',value='#{snippet.id}')
                input#input-snippet-type-id(type='hidden',value='#{snippet.type.id}')
                input#input-snippet-hidden(type='hidden',value='#{snippet.snippet}')
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("view-snippet.snippetTitle")}
                    div#div-snippet-title.div-content.col-sm-8.col-md-9
                        | #{snippet.title}
                    div.col-sm-8.col-md-11.hide
                        input#input-snippet-title.form-control(type="text",name="title")
                    div.col-sm-2
                        if favoriteStatus==0
                            a#link-edit-snippet.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-original-title='#{t("view-snippet.edit")}',data-placement='left')
                                i.fa.fa-edit.fa-2x
                        if favoriteStatus == 1
                            a#btn-favorite.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-url='/api/unsubscribe',data-original-title='#{t("view-snippet.unsubscribe")}',data-placement='left')
                                i.fa.fa-star.fa-2x.favorite
                        else if favoriteStatus == 2
                            a#btn-favorite.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-url='/api/favorite',data-original-title='#{t("view-snippet.favorite")}',data-placement='left')
                                i.fa.fa-star.fa-2x.unsubscribe
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("new-snippet.snippetType")}
                    div#div-snippet-type.div-content.col-sm-10.col-md-11
                        | #{snippet.type.name}
                    div.col-sm-10.col-md-11.hide
                        select#input-snippet-type.form-control(name='type_id')
                            if typeList.length>0
                                for type in typeList
                                    option(value="#{type.id}", selected=(type.typeName==snippet.type)?true:false, data-type="#{type.typeName}") 
                                        | #{type.typeName}
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("view-snippet.snippetContent")}
                    div#div-snippet-content.div-content.col-sm-10.col-md-11
                        pre
                            code
                                | #{snippet.snippet}
                    div.col-sm-10.col-md-11.hide
                        textarea#input-snippet-content.form-control(rows='15',name='snippet',style="resize:none")
                div#edit-link-group.form-group.hide
                    div.col-sm-offset-2.col-md-offset-1.col-sm-4
                        a#link-save-snippet.btn.btn-success
                            | save
                        a#link-cancel-edit.btn.btn-info.btn-right
                            | cancel

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/view-snippet.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/view-snippet.js')
    - }