extends layout

block title
    | #{t("view-snippet.title")}
append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/view-snippet.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/view-snippet.css')
    - }
block main
    div.container.nav-margin
        div.page-header
            h3
                | #{t("view-snippet.title")}
                a#link-back.btn.btn-info.pull-right
                    | #{t("view-snippet.backBtn")}
        div.row
            div.col-xs-12.col-sm-1.col-md-2(style='margin-left:3%')
                div.row
                    div.col-xs-3.col-sm-12.col-md-6
                        a(href="/users/#{snippet.ownerId}/profile")
                            img(src='/static/images/profile.jpg',style='border-radius:15px')
                    div.col-xs-3.col-sm-12.col-md-6
                        div
                            div(style='font-weight:bold;')
                                | #{snippet.owner}
                            if followStatus == 1
                                div(style='margin-top:3px')
                                    button#btn-follow.btn.btn-sm(data-followId='#{snippet.ownerId}',data-url='/api/unfollow')
                                        | #{t("view-snippet.unfollow")}
                            else if followStatus == 2
                                div(style='margin-top:3px')
                                    button#btn-follow.btn.btn-sm(data-followId='#{snippet.ownerId}',data-url='/api/follow')
                                        | #{t("view-snippet.follow")}
            div.col-xs-12.col-sm-10.col-md-9.form-horizontal
                input#input-csrf(type='hidden',name='_csrf',value='#{token}')
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("view-snippet.snippetTitle")}
                    div.div-content.col-sm-8
                        | #{snippet.title}
                    div.col-sm-2
                        if favoriteStatus == 1
                            a#btn-favorite.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-url='/api/unsubscribe',data-original-title='#{t("view-snippet.unsubscribe")}',data-placement='left')
                                i.fa.fa-star.fa-2x.favorite
                        else if favoriteStatus == 2
                            a#btn-favorite.link-tooltip.pull-right(href='javascript:',data-snippetId='#{snippet.id}',data-url='/api/favorite',data-original-title='#{t("view-snippet.favorite")}',data-placement='left')
                                i.fa.fa-star.fa-2x.unsubscribe
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("new-snippet.snippetType")}
                    div.div-content.col-sm-10
                        | #{snippet.type}
                div.form-group
                    label.col-sm-2.col-md-1.control-label
                        | #{t("view-snippet.snippetContent")}
                    div.div-content.col-sm-10
                        pre
                            code
                                | #{snippet.snippet}

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/view-snippet.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/view-snippet.js')
    - }